@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: gray;

}

.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(3, 3, 3);
    text-align: center;
    text-decoration: bold;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.user-box{
    position: relative;

}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: aliceblue;
    pointer-events: none;
    transition: .5s;

}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    color: black;
    font-size: 12px;
}

.btn button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(84, 122, 122);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: -10px;
    letter-spacing: 4px;

}

.btn button:hover {
    background: rgb(1, 17, 17);
    color: antiquewhite;
    border-radius: 5px;
    box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 100px aqua;

}

.btn button {
    position: relative;
    display: block;

}